@font-face {
  font-family: 'Roboto';
  src: url(./vendor/fonts/Roboto-Regular.ttf) format('truetype'),
    url(./vendor/fonts/Roboto-Regular.woff) format('woff'),
    url(./vendor/fonts/Roboto-Regular.woff2) format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url(./vendor/fonts/Roboto-Bold.ttf) format('truetype'),
    url(./vendor/fonts/Roboto-Bold.woff) format('woff'),
    url(./vendor/fonts/Roboto-Bold.woff2) format('woff2');
  font-weight: 700;
}

.page {
  margin: 0;
  background-color: #1B2944;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: white;
}

.container {
  max-width: 994px;
  margin: 0 auto;
  padding: 0 25px;
  box-sizing: border-box;
  /* padding чтобы контент не прилипал к краям экрана при уменьшении его ширины */
}

.button {
  padding: 25px 62px;
  min-width: 200px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  background-color: #FFBB01;
  box-shadow: 0px 4px 0px #B68500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s;
}

.button:hover {
  background-color: #ebad02;
}

.button:active {
  box-shadow: none;
  transform: translateY(5px);
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.header {
  position: relative;
}

.header__container {
  padding: 41px 25px 0;
  /* padding по бокам чтобы контент не прилипал к краям экрана при уменьшении его ширины */
  box-sizing: border-box;
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 21px;
}

.header__item {
  transition: all .3s;
}

.header__item:hover {
  transform: scale(1.15);
}

.header__item:active {
  opacity: .7;
}

.header__item_m_right {
  margin-right: auto;
}

.main-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 182px;
  gap: 10px;
  padding-bottom: 71px;
}

.main-screen__content {
  flex-basis: 45%;
}

.main-screen__pre-title {
  margin: 0 0 13px;
  font-size: 24px;
  line-height: 1.17;
  color: #FFBB01;
}

.main-screen__title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.18;
}

.main-screen__text {
  margin: 0 0 38px;
}

.main-screen__image {
  border-radius: 50%;
  border: 11px solid white;
}

.benefits {
  padding: 64px 0 92px;
  background-color: #141F35;
}

.benefits__title {
  margin-bottom: 80px;
}

.benefits__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 16px;
  row-gap: 72px;
}

.benefits__card-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

.benefits__image {
  margin-bottom: 21px;
}

.portfolio {
  padding-top: 64px;
  padding-bottom: 64px;
}

.portfolio__title {
  margin-bottom: 54px;
}

.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.portfolio__card {
  height: 304px;
  border-radius: 6px;
  padding: 172px 30px 28px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.portfolio__card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #213E60 99.85%);
  z-index: -1;
}

.portfolio__card-title {
  margin: 0 0 12x;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
  max-width: 70%;
}

.portfolio__image {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.portfolio__button {
  padding: 10px 25px;
  min-width: 100px;
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  color: white;
  border: none;
  background-color: #EC1F46;
  box-shadow: 0px 2px 0px #CE1C3E;
  border-radius: 4px;
  transition: all .2s;
  cursor: pointer;
}

.portfolio__button:hover {
  background-color: #CE1C3E;
}

.portfolio__button:active {
  box-shadow: none;
  transform: translateY(2px);
}

.gallery {
  padding-top: 96px;
  padding-bottom: 96px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.gallery__item {
  width: 224px;
  height: 224px;
  object-fit: cover;
  border: none;
}

.gallery__item_t_iframe {
  border: none;
}

.gallery__item_t_video {
  position: relative;
  cursor: pointer;
}

.gallery__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__controls {
  display: block;
  position: absolute;
  top: 8px;
  right: 28px;
  z-index: 1;
}

.gallery__controls::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.32px;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(./images/play_circle_filled.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.gallery__controls_hidden {
  display: none;
}